<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Personal">
	<meta name="viewport" content="target-densitydpi=320,width=640,user-scalable=no">
	<meta name="apple-itunes-app" content="app-id=790034407">
	<title>个人资料</title>
	<link rel="stylesheet" href="./stylesheets/base.css">
	<link rel="stylesheet" href="./stylesheets/user.css">
</head>
<body>
	<div class="wrapper">
		<div class="progress">
			<div>Loading</div>
		</div>
	</div>
	<div class="container" id="userinfo">
	</div>
	<div id="extendinfo">
		<ul class="whosv-list whosv-list-div2 clearfix" id="nav">
			<li class="active"><a href="#individual" role="tab" data-toggle="tab">个人档案</a></li>
			<li><a href="#date" role="tab" data-toggle="tab">约会档案</a></li>
		</ul>
		<ul class="whosv-list whosv-list-div3 clearfix tab-content" id="extinfo-list">		
		</ul>
	</div>
	<script id="userinfo_template" type="text/html">
		<img src="{{my_avatar}}!280x280" onerror="/images/personal-data.png" class="avatar" />
		<div class="whosv-info">
			<span class="whosv-btn whosv-btn-{{gender}}">
				<div class="age">{{age}}</div>
			</span>
			<span class="whosv-username">{{name}}</span>
		</div>
		<span class="city-and-job">{{city_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{job}}</span>
		<span class="certified">
			{{if authentication_desc == null}}
			<img src="./images/profile_renzhen2_image@2x.png">
			<span id="certified-info">未认证</span>
			{{else}}
			<img src="./images/profile_renzhen_image@2x.png">
			<span id="certified-info">{{authentication_desc}}</span>
			{{/if}}
		</span>
		{{if is_friend}}
		<ul class="whosv-list whosv-list-div4 clearfix">
			<li><a href="#"><img src="./images/personal-data_icon12.png" alt=""></a></li>
			<li><a href="whosv://users/activity?id={{id}}"><img src="./images/personal-data_icon21.png" alt=""></a></li>
			<li><a href="whosv://users/chat?id={{id}}&name={{name}}"><img src="./images/personal-data_icon31.png" alt=""></a></li>
			<li><a href="whosv://users/leer?id={{id}}"><img src="./images/personal-data_icon41.png" alt=""></a></li>
		</ul>
		{{else}}
		<ul class="whosv-list whosv-list-div4 clearfix">
			<li><a href="whosv://users/add_friend?id={{id}}"><img src="./images/personal-data_icon11_add.png" alt=""></a></li>
			<li><a href="#"><img src="./images/personal-data_icon22.png" alt=""></a></li>
			<li><a href="#"><img src="./images/personal-data_icon32.png" alt=""></a></li>
			<li><a href="whosv://users/leer?id={{id}}"><img src="./images/personal-data_icon41.png" alt=""></a></li>
		</ul>
		{{/if}}
	</script>
	<script id="extendinfo_template" type="text/html">
		<li class="tab-pane fade in active" id="individual">
			<div class="tab-pane-content">
				<h4 class="title">个性签名</h4>
				<h5 class="caption">
					{{signature}}
				</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">生日</h4>
				<h5 class="inline-caption">{{birthday}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">身高</h4>
				<h5 class="inline-caption">{{height}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">体型</h4>
				<h5 class="inline-caption">{{body}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">国籍</h4>
				<h5 class="inline-caption">{{country}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">兴趣</h4>
				<h5 class="inline-caption">{{interest}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">学历</h4>
				<h5 class="inline-caption">{{education}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">毕业院校</h4>
				<h5 class="inline-caption">
					{{university}}
				</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">行业</h4>
				<h5 class="inline-caption">{{industry}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">公司</h4>
				<h5 class="inline-caption">{{company}}</h5>
			</div>
			<div class="tab-pane-content">
			</div>
		</li>
		<li class="tab-pane fade" id="date">
			<div class="tab-pane-content">
				<h4 class="inline-title">寻找关系</h4>
				<h5 class="inline-caption">{{seeking_relation}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">婚姻状况</h4>
				<h5 class="inline-caption">{{marry}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">自我评价</h4>
				<h5 class="inline-caption">{{self_assessment}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">寻找类型</h4>
				<h5 class="inline-caption">{{character}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">是否喝酒</h4>
				<h5 class="inline-caption">{{drink}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">抽烟频率</h4>
				<h5 class="inline-caption">{{smoke}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">孩子</h4>
				<h5 class="inline-caption">{{children}}</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="inline-title">居住状况</h4>
				<h5 class="inline-caption">{{condition}}</h5>
			</div>
			<div class="tab-pane-content">
			</div>
		</li>
		<li class="tab-pane fade" id="like">
			<div class="tab-pane-content">
				<h4 class="title">喜欢的菜系</h4>
				<h5 class="caption">
					日本料理&nbsp;&nbsp;江浙菜系
				</h5>
			</div>
			<div class="tab-pane-content">
				<h4 class="title">喜欢的酒店</h4>
				<h5 class="caption">
					桔子水晶&nbsp;&nbsp;假日皇冠
				</h5>
			</div>
		</li>
	</script>
	<script src="./javascripts/libs/zepto.min.js"></script>
	<script src="./javascripts/libs/template.js"></script>
	<script src="./javascripts/libs/then.min.js"></script>
	<script src="./javascripts/libs/JSBridge.js"></script>
	<script src="./javascripts/transition.js"></script>
	<script src="./javascripts/tab.js"></script>
	<script src="./javascripts/main.js"></script>
</body>
</html>
