* {
	padding: 0;
	margin: 0;
	outline: none;
	border: 0;
}

html,body {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
}

img,a,button {
	-webkit-user-select: none;
}

img,a {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.disabled {
	outline: none;
}
.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}
.fade.in {
	opacity: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
	clear: both;
}

div.container {
	margin: 0;
	padding: 0;	
}

div.container > .whosv-id {
	color: #828282;
	font-size: 30px;
	margin-top: 30px;
}

div.container > .whosv-info {
	font-size: 40px;
}
.whosv-info > span {
	display: inline-block;
	color: #A88042;
	font-weight: bold;
	vertical-align: middle;
}
span.whosv-btn {
	display: inline-block;
	color: #fff;
	border-radius: 25px;
	font-size: 24px;
	line-height: 50px;
	height: 50px;
	vertical-align: middle;
}

span.whosv-btn.whosv-btn-female {
	height: 38px;
	width: 68px;
	background-image: url(../images/add-friend_women@2x.png);
	background-repeat: no-repeat;
}

span.whosv-btn.whosv-btn-male {
	height: 38px;
	width: 68px;
	background-image: url(../images/add-friend_men@2x.png);
	background-repeat: no-repeat;
}
.age {
	margin-left: 20px;
	font-size: 20px;
	margin-top: -6px;
}

.caption,
.inline-caption {
	font-weight: normal;
}

ul.whosv-list {
	padding: 0;
	list-style-type: none;
}
ul.whosv-list > li {
	display: inline-block;
	text-align: center;
}
ul.whosv-list.tab-content {
}
ul.tab-content > li{
	display: none;
}
ul.tab-content > li.tab-pane.active {
	display: block;
	width: 100%;
}
li.tab-pane > div.tab-pane-content {
	box-sizing: border-box;
	padding: 20px 40px;
	width: 100%;
	border-bottom: 1px solid #343639;
	text-align: left;
	line-height: 55px;
}
li.tab-pane > div.tab-pane-content:last-child {
	border-bottom: 0;
}
div.tab-pane-content > h4 {
	width: 100%;
	font-size: 36px;
}
div.tab-pane-content > h5 {
	width: 100%;
	font-size: 28px;
	color: #79797A;
}
div.tab-pane-content > h4.inline-title {
	box-sizing: border-box;
	display: inline-block;
	width: 49%;
}
div.tab-pane-content > h5.inline-caption {
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
	text-align: right;
}
span.whosv-icon.whosv-icon-male {
	display: inline-block;
	height: 22px;
	width: 16px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/add-friend_menicon.png');
	background-size: cover;
	margin-right: 10px;
	vertical-align: middle;
}
span.whosv-icon.whosv-icon-female {
	display: inline-block;
	height: 22px;
	width: 16px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/add-friend_womenicon.png');
	background-size: cover;
	margin-right: 10px;
	vertical-align: middle;
}


/**
 * (C)Leanest CSS spinner ever
 */
.wrapper {
	text-align: center;
	width: 100%;
	height: auto;
	min-height: 1000px;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
}

@keyframes spin {
	to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	to { -webkit-transform: rotate(360deg); }
}

.progress {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 auto;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	animation: spin 1s infinite steps(8);
	-webkit-animation: spin 1s infinite steps(8);
}

.small.progress {
	font-size: 6px;
}

.large.progress {
	font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em;
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee;
	transform-origin: 50% 2.5em;
	-webkit-transform-origin: 50% 2.5em;
}

.progress:before {
	background: #555;
}

.progress:after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	background: #bbb;
}
